<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/alertDialog"
        android:layout_gravity="center"
        android:background="@drawable/RoundedAlertDialog"
        android:layout_marginRight="@dimen/dialog_margin"
        android:layout_marginLeft="@dimen/dialog_margin"
        android:orientation="vertical"
        android:paddingBottom="@dimen/dialog_bottom_padding">
        <TextView
            android:text="Alert"
            android:layout_width="wrap_content"
            android:id="@+id/txtHeader"
            android:layout_marginLeft="@dimen/dialog_content_margin"
            android:textColor="#000000"
            android:layout_height="wrap_content"
            android:layout_marginTop="@dimen/dialog_content_margin"
            android:textSize="@dimen/header_font" />
        <FrameLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/alertContent"
            android:layout_below="@+id/alertContent"
            android:layout_gravity="center_horizontal"
            android:layout_marginTop="@dimen/dialog_content_margin"
            android:layout_marginBottom="@dimen/dialog_content_bottom_margin"
            android:layout_marginLeft="@dimen/dialog_content_margin"
            android:layout_marginRight="@dimen/dialog_content_margin" />
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/alertContent"
            android:id="@+id/footer"
            android:gravity="right"
            android:minWidth="25px"
            android:minHeight="25px"
            android:paddingTop="6dp"
            android:paddingBottom="6dp"
            android:paddingRight="8dp"
            android:paddingLeft="8dp" />
    </LinearLayout>
</FrameLayout>